# GNUpot configuration file.

# Required parameters.
gnupotServer="<addr or hostname>"
gnupotServerUsername="<remote username>"
gnupotLocalDir="<full path local watch dir>"
gnupotRemoteDir="<remote watch dir>"
gnupotLocalHome="<full path local home dir>"
gnupotRemoteHome="<full path remote home dir>"


# Other parameters.
gnupotTimeToWaitForOtherChanges="10"
gnupotSSHMasterSocketPath="/tmp/gnupotSSHMasterSocket"
gnupotSSHMasterSocketTime="120m"
gnupotDefaultNotificationTime="2000"
