# GNUpot configuration file.

# Required parameters.
gnupotServer="thepassword.duckdns.org"
gnupotServerUsername="localadmin"
gnupotLocalDir="/home/manjaro/testlocal"
gnupotRemoteDir="test"
gnupotLocalHome="/home/manjaro"
gnupotRemoteHome="/home/localadmin"


# Other parameters.
gnupotTimeToWaitForOtherChanges="10"
gnupotSSHMasterSocketPath="/tmp/gnupotSSHMasterSocket"
gnupotSSHMasterSocketTime="120m"
gnupotDefaultNotificationTime="2000"
