#
# gnupot.config.example
#
# Copyright (C) 2015 frnmst (Franco Masotti) <franco.masotti@live.com>
#                                            <franco.masotti@student.unife.it>
#
# This file is part of GNUpot.
#
# GNUpot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GNUpot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GNUpot.  If not, see <http://www.gnu.org/licenses/>.
#


# GNUpot configuration file.
# This is an example configuration file. You can edit it and change name to 
# gnupot.config and place it in $HOME/.config/gnupot

# All variables with numbers must be positive integers.
# All variables with paths must contain full paths except $gnupotRemoteDir
# which refers to the relative path starting from the remote home.

gnupotServer="<address or hostname>"

gnupotServerUsername="<remote username>"

gnupotRemoteDir="<remote watch dir>"

gnupotLocalDir="<full path local watch dir>"

# Path for SSH private and public keys.
gnupotSSHKeyPath=""$HOME"/.config/gnupot/id_rsa_gnupot"

gnupotRSAKeyBits="8192"

# 0 means keep all commits.
gnupotKeepMaxCommits="0"

# Exclude pattern for inotifywait in POSIX extended regex.
gnupotInotifyFileExclude="\\.(swp|save)"

# Exclude pattern for git in globbing.
gnupotGitFileExclude="**/*.swp\\\n**/.save"

gnupotLocalHome="<full path local home dir>"

gnupotRemoteHome="<full path remote home dir>"

# Git committer information.
gnupotGitCommitterUsername="<username>"

gnupotGitCommitterEmail="<email>"

gnupotTimeToWaitForOtherChanges="5" # seconds

gnupotBusyWaitTime="60" # seconds

# The master socket should be in a directory readable and writable only by the
# intended user. If that is not the case anyone could use the master socket to
# connect to the server without any password nor key request whatsoever.
gnupotSSHMasterSocketPath=""$HOME"/.config/gnupot/gnupotSSHMasterSocket"

gnupotDefaultNotificationTime="2000" # ms

# Use shared memory (if present) to avoid writing on disk. If it's not present,
# use a valid path. Check if "df | grep shm" has an output.
gnupotLockFilePath="/dev/shm/.lockfile"

# Maximum download and upload speeds. Both of them are expressed in KB/s. A 
# speed of 0 means no limit.
gnupotDownloadSpeed="0"

gnupotUploadSpeed="0"
