#
# gnupot.config.example
#
# Copyright (C) 2015 frnmst (Franco Masotti) <franco.masotti@live.com>
#                                            <franco.masotti@student.unife.it>
#
# This file is part of GNUpot.
#
# GNUpot is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GNUpot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GNUpot.  If not, see <http://www.gnu.org/licenses/>.
#


# GNUpot configuration file.
# This is an example configuration file. You can edit it and change name to 
# gnupot.config and place it in $HOME/.config/gnupot directory.
# For further information refer to the manual: gnupot.config(5)

gnupotServer="myserverhostnameoraddress.com"
gnupotServerUsername="gnupot"
gnupotRemoteDir="GNUpot"
gnupotLocalDir=""$HOME"/GNUpot"
gnupotSSHKeyPath=""$HOME"/.config/gnupot/id_rsa_gnupot"
gnupotRSAKeyBits="8192"
gnupotKeepMaxCommits="0"
gnupotInotifyFileExclude="\.(swp|save)"
gnupotGitFileExclude="**/*.swp\n**/.save"
gnupotGitCommitterUsername="$USER"
gnupotGitCommitterEmail="$USER"
gnupotTimeToWaitForOtherChanges="5"
gnupotBusyWaitTime="60"
gnupotSSHMasterSocketPath=""$HOME"/.config/gnupot/gnupotSSHMasterSocket"
gnupotDefaultNotificationTime="2000"
gnupotLockFilePath="/dev/shm/.lockfile"
gnupotDownloadSpeed="0"
gnupotUploadSpeed="0"
