# GNUpot configuration file.
# This is an example configuration file. You can edit it and change name to 
# gnupot.config and place it in $HOME/.config/gnupot

# Required parameters.
gnupotServer="<addr or hostname>"
gnupotServerUsername="<remote username>"
gnupotLocalDir="<full path local watch dir>"
gnupotRemoteDir="<remote watch dir>"
gnupotLocalHome="<full path local home dir>"
gnupotRemoteHome="<full path remote home dir>"
gnupotKeepMaxCommits="1024"

# Other parameters.
gnupotTimeToWaitForOtherChanges="5"
gnupotSSHMasterSocketPath="/tmp/gnupotSSHMasterSocket"
gnupotSSHMasterSocketTime="120m"
gnupotDefaultNotificationTime="2000"
gnupotLockFilePath="$HOME/.config/gnupot/.lockfile"
gnupotCommitNumberFilePath="$HOME/.config/gnupot/.commitNums"
